SECRET_KEY=replace-with-a-long-random-secret-key
DEBUG=False
ALLOWED_HOSTS=your-backend-domain.com
CSRF_TRUSTED_ORIGINS=https://your-frontend-domain.com,https://your-backend-domain.com
CORS_ALLOWED_ORIGINS=https://your-github-username.github.io
CORS_ALLOW_CREDENTIALS=False


DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
DATABASE_SSLMODE=require
DATABASE_CONN_MAX_AGE=0
MEDIA_ROOT=/var/data/media
SERVE_MEDIA=True

SECURE_SSL_REDIRECT=True
SECURE_PROXY_SSL_HEADER=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
